# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env
*.env

# Byte-compiled / archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Directorios de build y distribución
dist/
build/
*.egg-info/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo